django == 4.2.7
psycopg2-binary == 2.9.7
pillow == 10.0.1
python-dotenv == 1.0.0
djangorestframework == 3.14.0
ipython == 8.17.2
django-filter == 23.3
djangorestframework-simplejwt == 5.3.0
coverage == 7.3.2
drf-yasg == 1.21.7
stripe == 6.7.0
celery == 5.3.4
redis == 5.0.1
django-celery-beat == 2.5.0